{% extends "base.html" %}
{% block content %}
  <div id="cuerpoHeredado">

    <center><h1>Gestión de Medicamentos de {{farmacia}}</h1></center>
    <div id="show-instituciones"><table id="search_result" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th style="text-align: center;">Nombre</th>
          <th style="text-align: center;">Tipo</th>
          <th style="text-align: center;">Laboratorio</th>
          <th style="text-align: center;">Inventario</th>
          <th style="text-align: center">
          <a id="add_institucion" href="{% url 'agregar_medicamentos' farmacia.pk %}">
            <i class="fa fa-plus-circle" style="font-size:20px;color:white"></i>
          </a>
          </th>
        </tr>
      </thead>
      <tbody>
      {% for medicamento in medicamentos %}
      <!-- Modal content -->
        <div class="modal fade" id="myModal{{medicamento.0.pk}}" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminar Medicamento</h4>
              </div>
              <div class="modal-body">
                <p>¿Está seguro que desea eliminar este medicamento?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <a type="button" class="btn btn-primary" href="{% url 'eliminar_medicamentos' medicamento.0.pk farmacia.pk %}" > Aceptar</a>
              </div>
            </div>
          </div>
        </div>
      
        <tr>
          <td style="text-align: center;">{{medicamento.0.nombre}}</td>
          <td style="text-align: center;">{{medicamento.0.tipo}}</td>
          <td style="text-align: center;">{{medicamento.0.marca}}</td>
          <td style="text-align: center;">
            {% if medicamento.1.cantidad %}
            {{medicamento.1.cantidad}}
            {% else %}
            0
            {% endif %}
            &nbsp;&nbsp; <a href="{% url 'agregar_lote' medicamento.0.pk farmacia.pk %}" title="Agregar inventario">
              <i class="fa fa-plus" style="font-size:14px;color:#5882FA"></i>
            </a>
          </td>

          <td style="text-align: center;">
            <a href="{% url 'modificar_medicamento' medicamento.0.pk farmacia.pk %}"><i class="fa fa-pencil" style="font-size:20px;color:#5882FA"></i></a>
            <a data-toggle="modal" data-target="#myModal{{medicamento.0.pk}}" ><i class="fa fa-trash" style="font-size:20px;color:#5882FA"></i></a>
          </td>
        </tr>
      {% endfor%}
      </tbody>
    </table></div>
  </div>
{% endblock %}